In [1]:
# импорт всех необходимых библиотек
import os
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)
import pandas as pd

parent_directory = os.path.dirname(os.getcwd())  # Получаем родительский каталог
os.chdir(parent_directory)  # Переходим в родительский каталог
print(os.getcwd())  # Проверяем, что мы находимся в родительском каталоге

/Users/elizavetachefanova/Documents/TestAnalitics

In [12]:
df = pd.read_csv(f'{parent_directory}/data/Applicant-details.csv', sep=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Applicant_ID                 100000 non-null  int64
 1   Annual_Income                100000 non-null  int64
 2   Applicant_Age                100000 non-null  int64
 3   Work_Experience              100000 non-null  int64
 4   Marital_Status               100000 non-null  object
 5   House_Ownership              100000 non-null  object
 6   Vehicle_Ownership(car)       100000 non-null  object
 7   Occupation                   100000 non-null  object
 8   Residence_City               100000 non-null  object
 9   Residence_State              100000 non-null  object
 10  Years_in_Current_Employment  100000 non-null  int64
 11  Years_in_Current_Residence   100000 non-null  int64
 12  Loan_Default_Risk            100000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 9.9+ MB

In [14]:
df.head()

Количество наблюдений: 100000

,Applicant_ID,Annual_Income,Applicant_Age,Work_Experience,Marital_Status,House_Ownership,Vehicle_Ownership(car),Occupation,Residence_City,Residence_State,Years_in_Current_Employment,Years_in_Current_Residence,Loan_Default_Risk
0,75722,9657655,76,0,single,rented,no,Psychologist,Jalandhar,Punjab,0,12,0
1,80185,9259353,37,18,single,rented,no,Petroleum_Engineer,Bally,West_Bengal,12,11,0
2,19865,1509721,66,8,single,rented,no,Drafter,Indore,Madhya_Pradesh,4,12,0
3,76700,5867312,43,1,single,owned,no,Chartered_Accountant,Kurnool[18],Andhra_Pradesh,1,13,1
4,92992,7223191,44,9,single,rented,no,Air_traffic_controller,Asansol,West_Bengal,9,13,0